html, body {
  width: 100%;
  height: 100%;	
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Lato');

a, h1, h2, h3, h4, h5, span, p, li{
	font-family: 'Lato', sans-serif;	
}

a:hover,a:focus,a:visited,a:active {
  	text-decoration: none;
	color: #006db3;
}

a:hover {
	color:#63a4ff;
}

input { outline: none !important; }

:active, :hover, :focus { outline: none !important; }

/*fixed panel*/

.fixed {
    position: fixed;
    top: -10px;
    left: 22%;
    width: 50%;
    height: 70px;
    background: #4d82cb;
    z-index: 99999999;
    border-radius: 10px;
}

.fixed.hidden {
    display: none;
}

.fixed .input-group {
	width: 90%;
    margin-left: 5%;
    margin-top: 20px;
}

/*//////////mobile bar//////////////*/
.panel {
	padding-left: 7%;
	padding-top: 5%;
	padding-right: 5%;
    position: fixed;
    left: -15.625em;
    width: 15.625em; 
	background: #292929;
	z-index: 999999;
	color: #006db3;
	list-style: none;
}

.panel ul {
	list-style: none;
}

.panel ul li{
	padding-bottom: 10%;
}

.nav-block {
	display: none;
}

.nav-block a{
	color: white;
}

.panel a{
    color: #ddd;
}

.panel a:hover{
    color: #63a4ff;
}

.panel span{
    color: #8c8c8c;
	font-size: 10pt;
}


/*////////////login form///////////////*/

.btn-primary {
	color:white;
	background: #006db3;
	width: 100%;
}

.btn-primary:hover {
	background: #63a4ff;
}

/*////////////tab menu///////////////*/

.active_block{
    position:relative;
	cursor: pointer;
}
.in_block{
    display:none;
    margin-left:-25px;
    padding:10px;
    margin-top:17px;
    background:#63a4ff;
    height:200px;
}

.in_block li:hover{
	color: #006db3;
	background: #000;
}

.active_block:hover .in_block{
	-webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
	top:33px;
    display:block;
    position:absolute;
    z-index:9999;
    width:500px;
}

.menu_item li {
	float:left;
	list-style: circle;
}

/*/////////////////////////header/////////////////////////////////*/

.header {
  width: 100%;
	color: #006db3;
}

.header .bar {
	display: none;
	text-align: right;
}

.header .contacts span{
	padding-top: 1%;
    font-size: 10pt;
	color: #8c8c8c;
}

.header .basket-img {
	width: 30px;
}

.header .basket {
	padding-left: 5%;
	font-size: 10pt;
}

.header .basket span {
	font-size: 12pt;
	color: #006db3;
}

.header .header_top {
	background: #f5f5f5;
}

.header .logotype {
	height: auto;
    position: relative;
}

.header .logotype_min {
	height: auto;
    position: relative;
	display: none;
}

.header .logo_img {
	width: 100%;
}

.header ul.list-inline-left {
	width: 100%;
	margin: 0;
}


ul.list-inline-left li {
  padding-top: 1%;
  float: left;
  list-style: none;
}

ul.list-inline-left li:hover{
  	background: #63a4ff;
  	text-decoration: none;
	-webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

ul.list-inline-basket li {
  	list-style: none;
  	margin: 0 5px;
  	float: right;
}

ul.list-inline-right li {
	padding-top: 0.4%;
  	list-style: none;
  	float: right;
	height: 30px;
	padding-left: 2%;
	padding-right: 2%;
}


ul.list-inline-right li:hover {
  	background: #63a4ff;
  	color: black;
  	text-decoration: none;
	border-bottom: 2px solid #006db3;
	color: white;
	-webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

ul.list-inline-lang li {
	padding-top: 0.4%;
  	list-style: none;
  	float: left;
	height: 30px;
	padding-left: 2%;
	padding-right: 2%;
}

ul.list-inline-lang li:hover {
  	background: #63a4ff;
  	color: black;
  	text-decoration: none;
	border-bottom: 2px solid #006db3;
	color: white;
	-webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

ul.list-block {
	list-style: none;
}

ul.list-ul {
	list-style: none;
}

ul.list-ul li{
	margin-bottom: 5%;
}


.header .header_main {
	margin-top: 1%;
    margin-bottom: 1%;
}

.header .authorization {
	float: right;
	text-align: right;
}

.header .basket a{
	float:right;
}

.header .navigation {
	background: #006db3;
	color: white;
}

.header .navigation a {
	color: white;
}

.header .navigation ul li {
	padding-left: 2%;
    padding-right: 2%;
	height: 50px;
	text-align: center;
}

.header .search input {
	margin-left: 2%;
	padding-left: 1% !important;
}


.header .basket_li{
	background: #f44336;
	width: 160px;
	float: right;
	margin-right: 1%;    
	padding-left: 1% !important;
}




/*/////////////////////////main/////////////////////////////////*/

.main {
	margin-top: 3%;
	margin-bottom: 3%;
}

.main .main_menu {
	margin-bottom: 10%;
}

/*main menu*/
p {
  margin-top: 20px;
  margin-bottom: 0;
  padding: 0;
  font-size: 20px;
  line-height: 1.5;
}
.tabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  background: #e5e5e5;
  box-shadow: 0 20px 100px -20px rgba(0,0,0,0.3);
}
.input {
  position: absolute;
  opacity: 0;
}
.label {
  width: 100%;
  padding: 10px 20px;
  background: #e5e5e5;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  color: #7f7f7f;
  transition: background 0.1s, color 0.1s;
	margin-bottom:0;
}
.label:hover {
  background: #d8d8d8;
}
.label:active {
  background: #ccc;
}
.input:focus + .label {
  box-shadow: inset 0px 0px 0px 3px #006db3;
  z-index: 1;
}
.input:checked + .label {
  background: #ddd;
  color: #000;
}
.panel__item {
  display: none;
  padding: 20px 30px 30px;
  background: #fff;
}
.input:checked + .label + .panel__item {
  display: block;
}

/*gallery*/

.gallery {
	margin-top: 5%;
}

.gallery img {
	width: 40px;
}

.gallery__item .row span {
	font-size: 10pt;
}

.gallery__item .row:hover {
	border-bottom:  3px solid #4d82cb;
	filter: grayscale(0%); 
}

.gallery__item .row {
	
	filter: grayscale(100%); 
}

.gallery__item {
	padding: 0;
	padding-right: 15px;
}

.gallery .col-6 {
	padding: 0;
}

.gallery .container {
	height: 60px;
}

.gallery .row {
	height: 50px;
	padding: 5px;
	border: 3px double #ddd;
}

/*////////////////////////*/

.main .sidebar {
	padding-right: 0;
}

.img_cont, .img_det { display: inline-block; }

.img_cont { width: 100%; padding: 0;}

.img_det { width: 49%; }

.img_det img { width: 100%; }

.main .main_tab {
	padding-top: 2%;
}

.main .img_det {
    padding-bottom: 4%;
	padding-right: 3%;
}

.main .news {
	margin-top: 10%;
}

.main .news a {
	color: #292929;
}

.main .date_news {
/*	border: 1px solid #63a4ff;*/
	    color: #999;
    font-size: 10pt;
/*	border-radius: 5px;*/
/*	padding: 1%;*/
}

.fav-img {
	position: relative;
	bottom: 2px;
	width:11px;
}

.nav-tabs {
    border-bottom: 0;
	background: #fff;
}

.nav-tabs a{
	color: #006db3;
}

.nav-tabs a:hover{
	color: #63a4ff;
}

.nav-tabs .nav-link.active {
	-webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    color: #fff;
    background-color: #006db3;
    border-color: #fff;
}

.nav-tabs .nav-link {
    border: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.tab-content {
	padding: 2%;
    background: ghostwhite;
}

/*flexim*/

.flex-container {
           display: -webkit-flex;
           display: flex;
           -webkit-flex-direction: row;
           flex-direction: row;
           -webkit-align-items: center;
           align-items: center;
          
           flex-wrap: wrap;
           min-width: 320px;
           max-width: 1220px;
        }

.flex-item {
        display:flex;
        align-items: center;
        height: 60px;
    	width: 175px;
        background-color: white;
        margin: 3px;
        }

.flex-item img{
    flex-grow:0;
    flex-shrink:0;
	width: 25%;
}


.flex-container a {
    border-bottom: 3px solid #ddd;
	 width: 100%;
    height: 100%;
}

.flex-container a:hover{
	  -webkit-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -ms-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
	border-bottom:3px solid #006db3;
	color: #63a4ff;
}

/*/////////////////////////footer/////////////////////////////////*/

.footer {
/*	height: 230px;*/
	background: #292929;
	color:#ddd;
	padding: 2%;
	font-size: 10pt;
}

.footer a {
	color:#ddd;
	font-size: 10pt;
}

.footer a:hover {
	color:#006db3;
}

.footer li{
	margin-bottom: 10px;
}

.footer .contacts-img {
	width:11px;
}

.footer .foot_col {
	border-left: 1px solid #ddd;
	padding-left: 5%;
}

.footer .marker{
	padding-right: 2%;
}

.modal-body {
	text-align: center;
}

/*///////////////media//////////////*/

@media (min-width: 992px) {
	#menu {
			display: none;
	}
	
			
  .label {
    width: auto;
  }

  .panel__item {
    order: 99;
  }
}

@media (max-width: 992px) {
	
	.fixed {
		left: 0%;
    width: 100%;
	}


	.header {
		border-bottom: 3px groove #006db3;
    	padding-bottom: 5%;
	}
	
	.header .header_main {
   		margin-top: 5%;
	}
	
	.header .logotype {
		display: none;
	}
	
	.header .logotype_min {
		display: block;
		padding-right: 0;
	}
	
	.header .bar {
		display: block;
		padding-left: 0;
	}
	
	.main {
		margin-top: 5%;
		margin-bottom: 15%;
	}
	
	.navigation {
		display: none;
	}

	.basket {
		display: none;
	}
	
	.nav-block {
		display: block;
	}
	
	.contacts span {
		display: none;
	}
	
	.authorization span {
		display: none;
	}
	
	.offset {
		display: none;
	}
	
	.foot_col {
		display: none;
	}
	
	
}
